<!DOCTYPE html>
<html>
<head>
  <title>Chat gpt error handler</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "chat_gpt_error_handler/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
